<%- include('includes/header.ejs') -%>

    <div class="container center">
        <h4 class="center">Your Shorted URL</h4>
        <h5>
            <a id="short-url" href="<%= context.url %> " target="_blank">
                <%= context.url %>
            </a>
        </h5>
        <br>
        <p>Select and copy the below url</p>
        <!-- The button used to copy the text -->
        <!-- <button onclick="copyURL2()">Copy URL</button> -->
        <input class="container center" type="text" id="short-url-copy-btn" value="<%= context.url %>">
    </div>

    <script>

    </script>
    <%- include('includes/footer.ejs') -%>